@import "settings";
@import "foundation";

// Or selectively include components
// @import "foundation/components/grid";
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
// "foundation/components/clearing";
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid"
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";





@mixin gradientbg {
	background: rgb(248,253,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjhmZGZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjZGNmM2ZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(45deg,  rgba(248,253,255,1) 0%, rgba(220,243,253,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(248,253,255,1)), color-stop(85%,rgba(220,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(248,253,255,1) 0%,rgba(220,243,253,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(248,253,255,1) 0%,rgba(220,243,253,1) 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(248,253,255,1) 0%,rgba(220,243,253,1) 85%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(248,253,255,1) 0%,rgba(220,243,253,1) 85%); /* W3C */
	filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fdff', endColorstr='#dcf3fd',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */")
}



@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

//colors
$brand_black: #242a31;
$brand_grey: #6b7076;
$brand_mid_grey: #474b50;
$brand_mid_purple: #46007a;
$brand_dark_purple: #7f00de;
$brand_pink: #af007c;
$brand_teal: #01aeff;



$white: #ffffff;
//
html{
	min-width:640px;
}
body{
	// background-color:$white;
	-webkit-font-smoothing: antialiased;
	color:$brand_black;
	padding-top:rem-calc(131.9);

}

section{
	text-align:center;
}

code{
	font-size:0.8em;
	color:$brand_grey;
	font-weight:normal;
	font-family: "Courier New", Courier, monospace; 
}

h1{
	color:$brand_black;
	text-transform:uppercase;
	font-weight:500;

}

h2{
	color:$brand_mid_grey;
	text-transform:uppercase;
	font-weight:normal;
}
h3{

	color:$brand_mid_purple;
	text-transform:uppercase;
	font-weight:bold;
}
h4{
	color:$brand_dark_purple;
	text-transform:uppercase;
	font-weight:bold;
}
h5{
	color:$brand_pink;
	text-transform:uppercase;
	font-weight:bold;
}

p{
	line-height:1.3em;
	color:$brand_mid_grey;
}

.detail{
	p{
		font-size:rem-calc(20);
	}
	h4, h5{
		line-height:1.2em;
	}

}


.button{
	text-transform:uppercase;
	letter-spacing:2px; 
	width:rem-calc(240);
	padding-left: 0;
	padding-right: 0;
	padding-top:rem-calc(8);	
	padding-bottom:rem-calc(6);
	font-size:rem-calc(14);
}

// Sections
header{
	position:fixed;
	z-index:999;
	width:100%;
	top:0;
	left:0;

	background-color:$white;
	padding-top: 2em;
	#logo{
		margin-bottom:1em;
	}
	
	nav{
		float:right;
		ul{ 
			margin-left:0;
			li +li:before{
				font-size:rem-calc(11);
				color:$brand_grey;
				content:"|";
				padding:0 rem-calc(17);
				margin-left:-5px; //fix space after inline block
			}
			li{
				display:inline-block;
				margin-left:0;
				font-size: rem-calc(14);
				list-style:none;
				text-transform:uppercase;
				font-weight:500;				
				padding-top:0.5em;

				a, a:link, a:active,a:visited, a:hover{
					-webkit-font-smoothing: subpixel-antialiased;
					color:$brand_mid_purple;
					letter-spacing: 2px;
					line-height: 1em;
				}
					a.active{
						font-weight:bold;
						padding-bottom:rem-calc(10);
						background-image: url(../images/underline.png);
						background-position:center bottom;
						background-repeat:no-repeat;
						background-size: 55% 2px;
					}
					a:not(.icon):hover{
						font-weight:bold;

					}
			}
			a.button{
				width:auto;
				padding-top:0.6em;
				padding-bottom:0.3em;
				padding-left: rem-calc(17);
				padding-right: rem-calc(17);
				margin-left:0.5em;

				font-size: inherit;
				margin-bottom:0;				
				line-height:1em;
				color:$white !important;
				a, a:link, a:active,a:visited, a:hover{
					color:$white;
				}
			}
		}
	}
	#social-links{
		-webkit-transform: translateZ(0); //fixed chrome scrolling

		// clear:both;
		float:right;
		margin-top:rem-calc(5);
		margin-bottom:rem-calc(-31);
		padding-bottom:rem-calc(7);
		padding-left:rem-calc(9);
		padding-right:rem-calc(9);
		background-color:$white;
		border:0;
		border-radius:5px;
		ul{
			margin:0;
			padding:0;
			li{
				padding: 0 rem-calc(4);
				list-style: none;
				display:inline-block;
			}
		}
	}
}

#hero{
	background-image:url(../images/img_hero_bg2.jpg);
	background-position:center;
	height:rem-calc(448);
	background-repeat:none;
	padding-top:rem-calc(73);
	h1{

		margin:rem-calc(15) rem-calc(40) rem-calc(5) rem-calc(40);

		line-height:rem-calc(60);
	}
	p{
		color:$brand_black;
		
	}
}

#how{
	@include gradientbg;
	padding-top:rem-calc(73);
	padding-bottom:rem-calc(59);	
	h2{
		margin-bottom:rem-calc(8);
	}
	.content-module{
		padding-bottom:rem-calc(15);
	}
	.curved-divider-top{
		margin-top:rem-calc(51);
		margin-bottom:rem-calc(8);
	}
	.detail{
		img{
			margin-bottom:rem-calc(30);
		}
	}
}

#why{
	padding-top:rem-calc(73);
	padding-bottom:rem-calc(59);	
	h2{
		margin-bottom:rem-calc(8);
	}
	p{
		margin-bottom:rem-calc(35);
	}
	.detail{
		img{
			margin-bottom:rem-calc(17);
		}
		h4{
			color:$brand_teal;
		}
	}
	.curved-divider-top{
		margin-top:rem-calc(8);
		margin-bottom:rem-calc(10);
	}

}
#details{
	padding-top:rem-calc(73);
	padding-bottom:rem-calc(59);
	@include gradientbg;	

}

#getstarted{
	padding-top:rem-calc(73);
	padding-bottom:rem-calc(59);
	h1{
		color:$brand_mid_grey;
	}
	h5{
		color:$brand_pink;
	}
	.detail{
		img{
			margin-bottom:rem-calc(17);
		}
		.img3{
			margin-left:14px;
		}
	}
	#ctas{
		margin-top:rem-calc(20);
	}
}
footer{
	@include gradientbg;	
	// height:rem-calc(140);
	padding-top:rem-calc(50);
	padding-bottom:rem-calc(60);
	#footer-logo{

	}
	#copyright{
		padding-top:rem-calc(14);
		font-size:rem-calc(14);
		text-transform: uppercase;
		color:#a7a9ac;
		font-weight:bold;
	}
}

@media #{$small-only}{
	.middle_col{
		padding: auto;
	}
}
@media #{$small-only}{
	header{
		nav{
			float:left;
			ul{ 

				li +li:before{
					// content:none;
					padding:0 rem-calc(10);
					// padding-left:0;
					// margin-left:0; //fix space after inline block
				}
				li{
					font-size: rem-calc(14);
					display:inline-block;
					text-transform:uppercase;
					font-weight:500;
					-webkit-font-smoothing: subpixel-antialiased;
					a.active{
						font-weight:bold;
		
					}

					a.button{
						margin-left:0;
					}
				}

			}

		}	

	}
#hero{
	padding-top:rem-calc(53);
	h1{

		margin:rem-calc(5) rem-calc(10) rem-calc(5) rem-calc(10);

		line-height:rem-calc(45);
	}
	p{
		color:$brand_black;
		
	}
}
} //@media

.middle-col{
	padding: 0 rem-calc(65);
}

.nowrap{
	white-space:nowrap;
}
.curved-divider-top{
	height:30px;
	border-top:1px solid #858c91;

	border-radius:10px;
	border-bottom:none;
}

.topshadow{
	-webkit-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.1)
}

.content-module{
	text-align:center;
}
