{% assign items = include.items %}

<ul>
	{% for item in items %}
		{% for i in item %}
		{{ i }} 
		{% endfor %}
		{{item}}<br>
		{% assign item_url = item | prepend:'/docs/' | append:'/' %}
		
		{% if item_url == page.url %}
			{% assign active_class = 'active' %}
		{% else %}
			{% assign active_class = '' %}
		{% endif %}

		{% for p in site.pages %}
		<!-- {{p.title}}<br> -->
			{% if p.url == item_url %}
<!-- 				<li class="{{ active_class }}"><a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li> -->
			{% endif %}
		{% endfor %}
	{% endfor %}
</ul>

